@using Charterio.Web.ViewModels.Schedule
@model FlightListViewModel
@{
    this.ViewData["Title"] = $"Scheduled flights and dates";
}
<section class="page-title">
    <div class="page-title-img bg-img bg-overlay-darken">
        <div class="container">
            <div class="row align-items-center justify-content-center height100px">
                <div class="col-lg-6">
                    <div class="page-title-content">
                        <div class="title-border">
                            <h1 class="text-uppercase text-white font-weight-bold">Flight Schedule</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="py-8 py-md-4">
    <div class="container">               
        <div class="media media-list-view media-list-fullwidth media-border flex-column flex-md-row align-items-stretch mb-5">
            <div class="media-body">                
                <div class="row">
                    <div class="col-md-2 col-xl-2">
                        <b>Date</b>
                    </div>
                    <div class="col-md-2 col-xl-2">
                        <b>Departure</b>
                    </div>
                    <div class="col-md-2 col-xl-2">
                        <b>Arrival</b>
                    </div>
                    <div class="col-md-2 col-xl-2">
                        <b>Departure (local time)</b>
                    </div>
                    <div class="col-md-2 col-xl-2">
                        <b>Arrival (local time)</b>
                    </div>
                    <div class="col-md-2 col-xl-2">
                        <b></b>
                    </div>
                    
                </div>
            </div>
        </div>
        @foreach (var flight in Model.FlightList)
       {
           <div class="media media-list-view media-list-fullwidth media-border flex-column flex-md-row align-items-stretch mb-5">
            <div class="media-body">                
                <div class="row">
                    <div class="col-md-2 col-xl-2">
                        @flight.StartDate.ToShortDateString()
                    </div>
                    <div class="col-md-2 col-xl-2">
                        @flight.StartDestination
                    </div>
                    <div class="col-md-2 col-xl-2">
                        @flight.EndDestination
                    </div>
                    <div class="col-md-2 col-xl-2">
                        @flight.StartDate.AddHours(flight.StartDateUtcPosition).ToShortTimeString()
                    </div>
                    <div class="col-md-2 col-xl-2">
                        @flight.EndDate.AddHours(flight.EndDateUtcPosition).ToShortTimeString()
                    </div>
                    <div class="col-md-2 col-xl-2">
                        <a href="/FlightDetails/@flight.Id" class="text-uppercase">View Details</a>
                    </div>
                    
                </div>
            </div>
        </div>
       }         
    </div>
</section>