@using Charterio.Common
@using Charterio.Web.ViewModels.Search
@using System.Globalization
@model SearchViewModel
@{
    this.ViewData["Title"] = "Charterio - Ticket Management System For Charter Flights";
}

@section HomeMenuWithSlider {
<header class="header" id="pageTop">
    <nav class="nav-menuzord nav-menuzord-transparent">
        <div class="container clearfix">
            <div id="menuzord" class="menuzord">
                <a href="~/" class="menuzord-logo-brand"></a>
                <ul class="menuzord-menu menuzord-right">
                    <li>
                        <a href="~/">Search for Flights</a>
                    </li>
                    <li>
                        <a href="~/schedule">Schedule</a>
                    </li>
                    <li>
                        <a href="~/faq">FAQ</a>
                    </li>
                    <li>
                        <a href="~/contacts">Contacts</a>
                    </li>

                    @if (User.Identity.IsAuthenticated){
                    <li><a href="~/identity/account/manage">My Account</a></li>
                    }
                    else{
                    <li><a href="~/identity/account/login">Login</a></li>
                    <li><a href="~/identity/account/register">Register</a></li>
                    }


                </ul>
            </div>
        </div>
    </nav>
</header>
<partial name="_HomeSliderPartitial" />
}

<section class="bg-dark-light py-7">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-xl-2">
                <div class="section-title-bg mb-1 mb-lg-3 mb-xl-0">
                    <h1 class="text-white text-uppercase mb-0">Search</h1>
                    <h2 class="text-white text-uppercase font-weight-bold mb-0">your <span class="text-primary">flight</span></h2>
                </div>
            </div>

            <div class="col-xl-10">
                <form method="get" asp-controller="Search" asp-action="RedirectRequest">
                    <div class="row">
                        <div class="col-lg-12">

                            <div class="row">
                                <div class="col-md-12 col-lg-6">
                                    <div class="select-dropdown">
                                        <div class="mb-3 mb-lg-0">
                                            <div class="select-default select-search-box">
                                                <select class="select-option" asp-for="StartApt">
                                                    <option>Leaving from</option>
                                                    @foreach (var item in Model.AirportsForDropDown)
                                                    {
                                                        <option value="@item.IataCode">@item.IataCode - @item.Name</option>
                                                    }
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12 col-lg-6">
                                    <div class="select-dropdown">
                                        <div class="mb-3 mb-lg-0">
                                            <div class="select-default select-search-box">
                                                <select class="select-option" asp-for="EndApt">
                                                    <option>Destination</option>
                                                    @foreach (var item in Model.AirportsForDropDown)
                                                    {
                                                        <option value="@item.IataCode">@item.IataCode - @item.Name</option>
                                                    }
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-4 col-lg-4">
                                    <div class="select-dropdown">
                                        <div class="mb-3 mb-lg-0">
                                            <div class="select-default select-search-box">
                                                <select class="select-option form-control" asp-for="PaxCount">
                                                    <option value="">Number of passengers</option>
                                                    <option value="1">1</option>
                                                    <option value="2">2</option>
                                                    <option value="3">3</option>
                                                    <option value="4">4</option>
                                                    <option value="5">5</option>
                                                    <option value="6">6</option>
                                                    <option value="7">7</option>
                                                    <option value="8">8</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-4 col-lg-4">
                                    <div class="mb-3 form-group-icon mb-lg-0">
                                        <i class="far fa-calendar-alt" aria-hidden="true"></i>
                                        <input type="text" class="form-control daterange-picker sidebar-daterange-picker" autocomplete="off"
                                               asp-for="StartFlightDate" value="" placeholder="Please select start date interval" />
                                    </div>
                                </div>

                                <div class="col-md-4 col-lg-4">
                                    <div class="mb-3 form-group-icon mb-lg-0">
                                        <i class="far fa-calendar-alt" aria-hidden="true"></i>
                                        <input type="text" class="form-control daterange-picker sidebar-daterange-picker" autocomplete="off"
                                               asp-for="EndFlightDate" value="" placeholder="Please select end date interval" />
                                    </div>
                                </div>
                            </div>

                            <div class="row pt-5">
                                <div class="col-md-12 col-lg-12 d-grid gap-2">
                                    <button id="SubmitSearchBtn" class="btn btn-primary text-uppercase" type="submit">Search</button>
                                </div>
                            </div>

                        </div>

                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

<section class="bg-smoke py-8 py-lg-9">
    <partial name="_Cheapest3Flights" />
</section>

<section class="reviewsSection">
    <partial name="_ReviewsPartitial" />
</section>

<section>
    <partial name="_HomeBrief">
</section>
