@page
@model IndexModel
@{
    ViewData["Title"] = "Profile";
    var counter = 1;
}

<section class="py-9 pt-md-5">
    <div class="container">
        <div class="row">
            <partial name="_StatusMessage" for="StatusMessage" />
        </div>
        <div class="row">
            <partial name="_ProfileMenuPartitial" />

            <div class="col-md-6 col-lg-6 col-xl-9">
                <h2 class="text-center pb-3">My Tickets</h2>

                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Ticket Number</th>
                            <th scope="col">Order date</th>
                            <th scope="col">Status</th>
                            <th scope="col">Details</th>
                        </tr>
                    </thead>

                    <tbody>
                        @foreach (var ticket in @Model.Input.Tickets)
                        {
                            <tr>
                                <th scope="row">@(counter++)</th>
                                <td>@ticket.TicketCode</td>
                                <td>@ticket.CreatedOn</td>
                                <td><span class="badge 
                                    @if(@ticket.TicketStatus=="Paid, confirmed"){<text>bg-success</text>}
                                    @if(@ticket.TicketStatus=="Not paid, cancelled"){<text>bg-danger</text>}
                                    @if(@ticket.TicketStatus=="Waiting for payment"){<text>bg-secondary</text>}
                                        ">@ticket.TicketStatus
                                    </span></td>
                                <td>
                                    @if(@ticket.TicketStatus=="Paid, confirmed"){<text><a href="~/Booking/Ticket?tid=@ticket.Id">View</a></text>}
                                    @if(@ticket.TicketStatus=="Not paid, cancelled"){<text>-</text>}
                                    @if(@ticket.TicketStatus=="Waiting for payment"){<text><a href="~/Booking/Pay?tid=@ticket.Id">Pay now</a></text>}                                    
                                     
                                </td>
                            </tr>
                        }


                    </tbody>
                </table>


                <p>Here you will find a list with all your ticket requests. Have in mind the system is monitoring the tickets every 30 minutes. If your ticket is not paid in the time frame, the system automatically marks it as not paid and cancels the ticket. You will not be able to pay for canceled ticket.</p>
                <p>Status: <span class="badge bg-success">"Paid, confirmed"</span> Your ticket is valid, confirmed and paid. Enjoy your flight.</p>
                <p>Status: <span class="badge bg-secondary">"Waiting for payment"</span> The system is waiting for your payment. You have 30 minutes available for payment, otherwise the system will cancel your ticket.</p>
                <p>Status: <span class="badge bg-danger">"Not paid, cancelled"</span> The ticket is canceled by the system and the reserved places are released.</p>
            </div>
        </div>
    </div>
</section>
@section Scripts {
<partial name="_ValidationScriptsPartial" />
}
