@using Charterio.Web.ViewModels.Booking
@using Charterio.Web.ViewModels.Ticket
@using Microsoft.Extensions.Configuration

@model TicketViewModel


@{
    this.ViewData["Title"] = $"Booking (Confirm details)";
}
<section class="page-title">
    <div class="page-title-img bg-img bg-overlay-darken">
        <div class="container">
            <div class="row align-items-center justify-content-center height100px">
                <div class="col-lg-12">
                    <div class="page-title-content">
                        <div class="title-border">
                            <h1 class="text-uppercase text-white font-weight-bold">Booking ( Confirm details and Pay )</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="py-9 pt-md-5">
    <div class="container">                
        <div class="row pb-3">
            <div class="col-md-4 font-size-15">
                Ticket details:
            </div>
            <div class="col-md-8 font-size-15">
                @Model.TicketCode
            </div>
        </div>
        <div class="row pb-3">
            <div class="col-md-4 font-size-15">
                Flight details:
            </div>
            <div class="col-md-8 font-size-15">
                From: @Model.StartAptName<br />
                To: @Model.EndAptName<br />
                Departure: @Model.StartInUtc Local time<br />
                Arrival: @Model.EndInUtc Local time
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 font-size-15">
                Passengers details:
            </div>
            <div class="col-md-8 font-size-15">
                <hr />
                @foreach (var pax in @Model.PaxList)
                {
                    <span>@pax.PaxTitle.ToLower() @pax.PaxFirstName @pax.PaxLastName @pax.PaxDob</span> <hr />
                }
                
            </div>
        </div>
        <hr />
         <div class="row"> 
             <div class="col-md-6">
                
            </div>
            <div class="col-md-6">
                
            <form asp-action="Processing">
                    <input asp-for="TicketId" value="@this.Model.TicketId" type="text" hidden />
                    <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                            data-key="pk_test_51K6al8DAcMTKZAyL2XzfPoMQU0EI9zkAlWehHtMIxvnBnn8uFx9tb2NibpdJ58sohY9kXSxxrmrik559eA0sFv2e00ssLHZ4ze"
                            data-amount="700"
                            data-name="Charterio"
                            data-description="Payment for Ticket: @Model.TicketCode"
                            data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
                            data-locale="en"
                            data-zip-code="true"
                            data-label="Pay with Stripe">
                    </script>
            </form>                
            </div>
        </div>
    </div>
</section>


