@using Charterio.Global
@using Charterio.Web.ViewModels.Administration.Ticket
@model List<TicketAdminViewModel>
@{
    this.ViewData["Title"] = "Administration / Ticket";
}
<section class="page-title">
    <div class="page-title-img bg-img bg-overlay-darken">
        <div class="container">
            <div class="row align-items-center justify-content-center height100px">
                <div class="col-lg-8">
                    <div class="page-title-content">
                        <div class="title-border">
                            <h1 class="text-white text-uppercase font-weight-bold">@this.ViewData["Title"]</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="py-9 pt-md-5">
    <div class="container">
        <partial name="_AdminMenu" />
        <p class="text-center">@GlobalConstants.MsgSearchByTicketCode</p>
        <div class="col-12">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Code</th>
                        <th scope="col">Status</th>
                        <th scope="col">Offer</th>
                        <th scope="col">Pax</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td scope="col">@item.Id</td>
                            <td scope="col">@item.Code</td>
                            <td scope="col">@item.Status</td>
                            <td scope="col">@item.Offer</td>
                            <td scope="col">@item.PaxCount</td>
                            <td scope="col">@if (@item.Status=="Waiting for payment")
                                            {
                                                <a asp-action="Cancel" asp-route-id="@item.Id">Cancel</a>
                                            }</td>
                        </tr>
                    }

                </tbody>
            </table>
        </div>
    </div>
</section>
