@using Charterio.Web.ViewModels.Administration.AdminMain
@model TicketQuestionAdminViewModel
@{
    this.ViewData["Title"] = "Administration";
}
<section class="page-title">
    <div class="page-title-img bg-img bg-overlay-darken">
        <div class="container">
            <div class="row align-items-center justify-content-center height100px">
                <div class="col-lg-8">
                    <div class="page-title-content">
                        <div class="title-border">
                            <h1 class="text-white text-uppercase font-weight-bold">@this.ViewData["Title"]</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="py-9 pt-md-5">
    <div class="container">
        <partial name="_AdminMenu" />

        <div class="col-12">
            <h3 class="element-title">Last 10 sold tickets</h3>
            <hr class="mt-2" />
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Status</th>
                        <th scope="col">Pax Count</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Tickets)
                    {
                        <tr>
                            <th scope="row">@item.Code</th>
                            <td>@item.Status</td>
                            <td>@item.Pax</td>                            
                        </tr>
                    }

                </tbody>
            </table>

        </div>

        <div class="col-12">
            <h3 class="element-title">Last 10 user questions</h3>
            <hr class="mt-2" />
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Question</th>
                        <th scope="col">Created</th>
                        <th scope="col">Modified</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Questions)
                    {
                        <tr>
                            <td>@item.Question</td>
                            <td>@item.CreatedOn</td>
                            <td>@item.ModifiedOn</td>                            
                        </tr>
                    }
                </tbody>
            </table>
        </div>

    </div>
</section>

