@using Charterio.Common

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>@this.ViewData["Title"] - @GlobalConstants.SystemName</title>

    <!-- Plugins css Style -->
    <link href='~/assets/plugins/fontawesome-5.15.2/css/all.min.css' rel='stylesheet' asp-append-version="true">
    <link href='~/assets/plugins/fontawesome-5.15.2/css/fontawesome.min.css' rel='stylesheet' asp-append-version="true">
    <link href="~/assets/plugins/animate/animate.css" rel="stylesheet" asp-append-version="true">
    <link href="~/assets/plugins/menuzord/css/menuzord.css" rel="stylesheet" asp-append-version="true">
    <link href="~/assets/plugins/menuzord/css/menuzord-animations.css" rel="stylesheet" asp-append-version="true">

    <link href='~/assets/plugins/selectric/selectric.css' rel='stylesheet' asp-append-version="true">
    <link href='~/assets/plugins/daterangepicker/css/daterangepicker.css' rel='stylesheet' asp-append-version="true">


    <link href='~/assets/plugins/revolution/css/settings.css' rel='stylesheet' asp-append-version="true">

    <!-- GOOGLE FONT -->
    <link href='https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700' rel='stylesheet' asp-append-version="true">

    <!-- CUSTOM CSS -->
    <link href="~/assets/css/main.css" id="option_style" rel="stylesheet" asp-append-version="true">

    <!-- FAVICON -->
    <link rel="shortcut icon" type="image/ico" href="/favicon.ico" />

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-4HYQWM41E5"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-4HYQWM41E5');
    </script>
</head>
<body id="body" class="up-scroll">



    <!-- Preloader -->
    <div id="preloader" class="smooth-loader-wrapper">
        <div class="smooth-loader">
            <div class="sk-circle">
                <div class="sk-circle1 sk-child"></div>
                <div class="sk-circle2 sk-child"></div>
                <div class="sk-circle3 sk-child"></div>
                <div class="sk-circle4 sk-child"></div>
                <div class="sk-circle5 sk-child"></div>
                <div class="sk-circle6 sk-child"></div>
                <div class="sk-circle7 sk-child"></div>
                <div class="sk-circle8 sk-child"></div>
                <div class="sk-circle9 sk-child"></div>
                <div class="sk-circle10 sk-child"></div>
                <div class="sk-circle11 sk-child"></div>
                <div class="sk-circle12 sk-child"></div>
            </div>
        </div>
    </div>

    <!-- IE 11 bypass the preloader -->
    <script>
        if (window.document.documentMode) {
            window.document.getElementById("preloader").style.display = "none";
        }
    </script>

    <!-- Header begin -->
    @if (IsSectionDefined("HomeMenuWithSlider"))

    {
        @RenderSection("HomeMenuWithSlider")
    }

    else

    {
        <header class="header" id="pageTop">
            <!-- Menu Zord -->
        <nav class="nav-menuzord">
                <div class="container clearfix">
                    <div id="menuzord" class="menuzord">
                        <a href="~/" class="menuzord-brand">
                            <img data-src="/assets/img/logo-color-big.png" src="/assets/img/logo-color-big.png" alt="Charterio">
                        </a>
                        <ul class="menuzord-menu menuzord-right">
                            @if (User.IsInRole(GlobalConstants.AdministratorRoleName))
                            {
                                <li><a href="~/administration/" class="text-dark">Administration Dashboard</a></li>
                                <li>
                                        <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@this.Url.Action("Index", "Home", new { area = string.Empty })">
                                            <button type="submit" class="nav-link btn btn-link text-dark mmenuBtn">Logout</button>
                                        </form>
                                </li>
                            }
                            else
                            {
                                <li><a href="~/">Search Flights</a></li>
                                <li><a href="~/schedule">Schedule</a></li>
                                <li><a href="~/faq">FAQ</a></li>
                                <li><a href="~/contacts">Contacts</a></li>

                                @if (User.Identity.IsAuthenticated)
                                {
                                    <li><a href="~/identity/account/manage">My Account</a></li>
                                    <li>
                                        <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@this.Url.Action("Index", "Home", new { area = string.Empty })">
                                            <button type="submit" class="nav-link btn btn-link text-dark mmenuBtn">Logout</button>
                                        </form>
                                    </li>
                                }
                                else
                                {
                                    <li><a href="~/identity/account/login">Login</a></li>
                                    <li><a href="~/identity/account/register">Register</a></li>
                                }
                            }

                        </ul>
                    </div>
                </div>
            </nav>
        </header>
    }
    <!--Header end-->



    <div class="main-wrapper">
        <partial name="_CookieConsentPartial" />
        <main role="main">
            @this.RenderBody()
        </main>
    </div>

    <footer class="footer">
        <div class="footer-bg-color py-9">
            <div class="container">
                <div class="row">

                    <div class="col-md-12 col-lg-6 mt-md-4 mb-7 mb-lg-0">
                        <div class="title-tag">
                            <h6>Contact us</h6>
                        </div>

                        <p>Our contact details</p>
                        <ul class="list-unstyled mb-0">
                            <li class="media mb-2">
                                <div class="me-3">
                                    <i class="fa fa-home" aria-hidden="true"></i>
                                </div>
                                <div class="media-body">
                                    <a href="https://charterio.com">Charterio Project</a>
                                </div>
                            </li>

                            <li class="media mb-2">
                                <div class="me-3">
                                    <i class="fab fa-github" aria-hidden="true"></i>
                                </div>
                                <div class="media-body">
                                    <a href="https://github.com/nkrastev/Charterio" target="_blank">https://github.com/nkrastev/Charterio</a>
                                </div>
                            </li>

                            <li class="media">
                                <div class="me-3">
                                    <i class="far fa-envelope" aria-hidden="true"></i>
                                </div>
                                <div class="media-body">
                                    <a href="mailto:info@charterio.com">info@charterio.com</a>
                                </div>
                            </li>
                        </ul>
                    </div>



                    <div class="col-md-12 col-lg-6 mt-lg-4">
                        <div class="title-tag">
                            <h6>Newsletter</h6>
                        </div>

                        <p>Subscribe and get infomation about the Charterio new releases.</p>
                        <partial name="_MailChimp" />

                        <ul class="list-inline d-flex mb-0 mt-5">
                            <li class="me-3 me-lg-2 me-xl-3">
                                <a class="icon-default icon-border rounded-circle hover-bg-primary" href="javascript:void(0)">
                                    <i class="fab fa-facebook-f text-white" aria-hidden="true"></i>
                                </a>
                            </li>

                            <li class="me-3 me-lg-2 me-xl-3">
                                <a class="icon-default icon-border rounded-circle hover-bg-primary" href="https://github.com/nkrastev/Charterio" target="_blank" title="Charterio Source Code">
                                    <i class="fab fa-github text-white" aria-hidden="true"></i>
                                </a>

                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="copyright py-6">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-md-6 order-1 order-md-0">
                        <p class="mb-0 mb-md-0 text-md-start">
                            &copy; @DateTime.Now.Year - @GlobalConstants.SystemName: Ticket Management System For Charter Flights
                        </p>
                    </div>

                    <div class="col-md-6">
                        <ul class="list-inline text-capitalize d-flex align-items-center justify-content-md-end justify-content-center mb-md-0">
                            <li class="me-3">
                                <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                            </li>
                            <li class="">
                                <a asp-area="" asp-controller="Home" asp-action="Tos">Terms and Conditions</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <script src="~/assets/plugins/jquery/jquery-3.4.1.min.js" asp-append-version="true"></script>
    <script src="~/assets/plugins/bootstrap/js/bootstrap.bundle.min.js" asp-append-version="true"></script>
    <script src="~/assets/plugins/menuzord/js/menuzord.js" asp-append-version="true"></script>



    <script src='~/assets/plugins/selectric/jquery.selectric.min.js' asp-append-version="true"></script>
    <script src='~/assets/plugins/daterangepicker/js/moment.min.js' asp-append-version="true"></script>
    <script src='~/assets/plugins/daterangepicker/js/daterangepicker.min.js' asp-append-version="true"></script>

    <script src='~/assets/plugins/revolution/js/jquery.themepunch.tools.min.js' asp-append-version="true"></script>
    <script src='~/assets/plugins/revolution/js/jquery.themepunch.revolution.min.js' asp-append-version="true"></script>

    <script src="~/assets/plugins/jquery/jquery.validate.min.js" asp-append-version="true"></script>
    <script src="~/assets/plugins/jquery/jquery.validate.unobtrusive.min.js" asp-append-version="true"></script>

    <script src="~/assets/js/charterio.js" asp-append-version="true"></script>

    @await this.RenderSectionAsync("Scripts", required: false)


</body>
</html>
