@model SearchViewModel
@using Charterio.Common
@using Charterio.Web.ViewModels.Search
@using System.Globalization
@{
    this.ViewData["Title"] = $"Flights from {Model.StartApt} to {Model.EndApt}";
}
<section class="page-title">
    <div class="page-title-img bg-img bg-overlay-darken">
        <div class="container">
            <div class="row align-items-center justify-content-center height100px">
                <div class="col-lg-6">
                    <div class="page-title-content">
                        <div class="title-border">
                            <h1 class="text-uppercase text-white font-weight-bold">Flights from @Model.StartApt to @Model.EndApt</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="py-8 py-md-5">
    <div class="container">
        <form method="get" asp-controller="Search" asp-action="RedirectRequest">
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="select-default select-category-1">
                        <select class="select-option" asp-for="StartApt">
                            <option>Leaving from</option>
                            @foreach (var item in Model.AirportsForDropDown)
                            {
                                <option value="@item.IataCode">@item.IataCode - @item.Name</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="select-default select-category-1">
                        <select class="select-option" asp-for="EndApt">
                            <option>Destination</option>
                            @foreach (var item in Model.AirportsForDropDown)
                            {
                                <option value="@item.IataCode">@item.IataCode - @item.Name</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="select-default select-category-1">
                        <select class="select-option" asp-for="PaxCount">
                            <option value="">Number of passangers</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                        </select>
                    </div>
                </div>


            </div>
            <div class="row mt-5">
                <div class="col-lg-4 col-md-6">
                    <i class="far fa-calendar-alt" aria-hidden="true"></i>
                    <input type="text" class="form-control daterange-picker sidebar-daterange-picker" autocomplete="off"
                           asp-for="StartFlightDate" value="@if(@Model.StartFlightDate!=null){
                    @Model.StartFlightDate.ToString("d", CultureInfo.InvariantCulture)
} else {DateTime.UtcNow.ToString("d", CultureInfo.InvariantCulture);}"
                           placeholder="Please select start date interval" />
                </div>
                <div class="col-lg-4 col-md-6">
                    <i class="far fa-calendar-alt" aria-hidden="true"></i>
                    <input type="text" class="form-control daterange-picker sidebar-daterange-picker" autocomplete="off"
                           asp-for="EndFlightDate" value="@if(@Model.EndFlightDate!=null){
                    @Model.EndFlightDate.ToString("d", CultureInfo.InvariantCulture)
} else { DateTime.UtcNow.ToString("d", CultureInfo.InvariantCulture);}"
                           placeholder="Please select end date interval" />


                </div>
                <div class="col-lg-4 col-md-6">
                    <button id="SubmitSearchBtn" class="btn btn-primary text-uppercase width100percent" type="submit">Search Again</button>
                </div>
            </div>
        </form>
    </div>
</section>
<section class="py-8 py-md-4">
    <div class="container">
        <div asp-validation-summary="All" class="text-center"></div>

        <h2 class="text-center">Flights Available: ( @Model.FlightResults.Count )</h2>

        @foreach (var result in Model.FlightResults)
       {
           <div class="media media-list-view media-list-fullwidth media-border flex-column flex-md-row align-items-stretch mb-5">
            <div class="media-body">                
                <div class="row">
                    <div class="col-md-6 col-xl-6 position-relative">
                        <p class="mb-6 line-height-28 h4">
                            Departs from: <strong>@result.StartApt</strong><br />
                            Arrives at: <strong>@result.EndApt</strong>
                        </p>
                        <div class="date-view">
                            <span><i class="far fa-calendar-alt" aria-hidden="true"></i> @result.DepartureDate.Date</span>
                            <span><i class="far fa-clock" aria-hidden="true"></i> Departure time: @result.DepartureDate.TimeOfDay UTC</span>
                        </div>
                    </div>
                    <div class="col-md-6 col-xl-6">
                        <div class="bg-primary text-center p-3 view-details">
                            <h2 class="text-white font-weight-bold h1">@result.Price €</h2>
                            <div>
                                <a href="/FlightDetails/@result.Id" class="btn btn-xs w-40 mx-auto btn-outline-white btn-booking text-uppercase mb-2">Details</a>
                                <a href="/Book/@result.Id" class="btn btn-xs w-40 mx-auto btn-outline-white btn-booking text-uppercase mb-2">Book Now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
       }



        

        


    </div>
</section>
